@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-VariableFont_wght.woff");
  font-style: normal;
}

html {
  font-size: 1.5rem;
  line-height: 1.618;
  font-family: "Assistant";
  font-weight: 800;
  /* font-variation-settings: "wght" 800; */
}

@layer components {
  .herobackground {
    background-image: url("img/bg3.png");
  }
}
